#Reading three CSV files

In [ ]:
#Importing the pandas and numpy librarys
import pandas as pd
import numpy as np

In [ ]:
#Reading the climate change csv file
climate_change = pd.read_csv('/content/Copy of climate-change-excel-4-6-mb-.csv')

In [ ]:
#View the climate_change file
climate_change.head(5)

  Country_code Country_name     Series_code  ... 2009 2010 2011
0          ABW        Aruba  AG.LND.EL5M.ZS  ...   ..   ..   ..
1          ADO      Andorra  AG.LND.EL5M.ZS  ...   ..   ..   ..
2          AFG  Afghanistan  AG.LND.EL5M.ZS  ...   ..   ..   ..
3          AGO       Angola  AG.LND.EL5M.ZS  ...   ..   ..   ..
4          ALB      Albania  AG.LND.EL5M.ZS  ...   ..   ..   ..

[5 rows x 28 columns]

In [ ]:
#Number of columns in the climate_change file
climate_change.shape

(13512, 28)

In [ ]:
#Name of columns in the climate_change file
climate_change.columns

Index(['Country_code', 'Country_name', 'Series_code', 'Series_name', 'SCALE',
       'Decimals', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')

In [ ]:
#Reading the WHO Suicide file
WHO_Suicide_Dataset = pd.read_csv('/content/WHO Suicide Dataset.csv')

In [ ]:
#View the WHO Suicide file
WHO_Suicide_Dataset.head(5)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [ ]:
#Number of columns and the names of the columns in the WHO Suicide file
WHO_Suicide_Dataset.shape

(43776, 6)

In [ ]:
WHO_Suicide_Dataset.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population'], dtype='object')

In [ ]:
# Redaing the covid dataset
Covid_data = pd.read_csv('/content/country_wise_latest.csv')

In [ ]:
#View the Covid data
Covid_data.head(5)

  Country_or_region  Confirmed  ...  1_week _%_ increase             WHO_Region
0       Afghanistan      36263  ...                 2.07  Eastern Mediterranean
1           Albania       4880  ...                17.00                 Europe
2           Algeria      27973  ...                18.07                 Africa
3           Andorra        907  ...                 2.60                 Europe
4            Angola        950  ...                26.84                 Africa

[5 rows x 15 columns]

In [ ]:
#Number of columns in the Covid data
Covid_data.shape

(187, 15)

In [ ]:
#Names of columns in the Covid data
Covid_data.columns

Index(['Country_or_region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed_last_ week', '1_week_change', '1_week _%_ increase',
       'WHO_Region'],
      dtype='object')

#Creating a connection to a database

In [ ]:
#Installing the sqlite database
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 7.4 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=8b08557fa431759f4888c02a8bd7acc3280cb3948a14ac2698db554585bb0526
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=baf39f3e496e5e8bd899f8bc17788ca6c89153d9bcf0442d9104411f6ce38209
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=0b4d7cc5ddc3aed14e56122c3926b7a0163999230e78c3fc6f30337e996846c7
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
#importing the pandas, sqlite3 and date librarys
import sqlite3

In [ ]:
import pandas as pd

In [ ]:
from datetime import date

In [ ]:
#Establishing a connection with the sqlite3 database
a = sqlite3.connect("test.a")

#Inserting tables into the created database

In [ ]:
# Reading the Covid_data into the database
Covid_data.to_sql('Covid_data',con = a,if_exists='replace',index = False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
# Creating a table into the database
#Checking if the table I want to create in the database exists and dropping it if it exists
a.execute("DROP TABLE IF EXISTS African_countries")
a.commit()

In [ ]:
#Defining the database schema
try:
  a.execute("create table African_countries(Country_code integer,Country_name text)")
except:
    print("Table alredy exists")

In [ ]:
#creating a table and writing it to the database
African_countries = pd.DataFrame(data = {'Country_code':[1,2,3],'Country_name':['Nigeria','Kenya','Namibia']})
African_countries.to_sql('African_countries',con = a,if_exists = 'replace',index = False)

#Reading the database tables

In [ ]:
#Viewing the file using panda's read_sql_query
Covid_file = pd.read_sql_query('SELECT * FROM Covid_data',con = a)
print(Covid_file)

      Country_or_region  Confirmed  ...  1_week _%_ increase             WHO_Region
0           Afghanistan      36263  ...                 2.07  Eastern Mediterranean
1               Albania       4880  ...                17.00                 Europe
2               Algeria      27973  ...                18.07                 Africa
3               Andorra        907  ...                 2.60                 Europe
4                Angola        950  ...                26.84                 Africa
..                  ...        ...  ...                  ...                    ...
182  West Bank and Gaza      10621  ...                19.12  Eastern Mediterranean
183      Western Sahara         10  ...                 0.00                 Africa
184               Yemen       1691  ...                 4.45  Eastern Mediterranean
185              Zambia       4552  ...                36.86                 Africa
186            Zimbabwe       2704  ...                57.85                 Africa

[187 rows x 15 columns]

In [ ]:
#Viewing the African_countries table from the database
AC = pd.read_sql_query('SELECT * FROM African_countries',con = a)
print(AC)

   Country_code Country_name
0             1      Nigeria
1             2        Kenya
2             3      Namibia

#'SELECT' operations on the database tables

In [ ]:
#Joining the Covid_data table and the African_countries table
statement = 'SELECT Covid_data.Country_or_region, Covid_data.Deaths,African_countries.Country_name\
 FROM Covid_data\
  JOIN African_countries\
   ON African_countries.Country_name = Covid_data.Country_or_region'
Covid_in_three_African_Countries = pd.read_sql_query(statement,con = a)
print(Covid_in_three_African_Countries)

  Country_or_region  Deaths Country_name
0             Kenya     285        Kenya
1           Namibia       8      Namibia
2           Nigeria     860      Nigeria

In [ ]:
statement = 'SELECT Country_or_region,Confirmed,Deaths,WHO_Region\
 FROM Covid_data\
  ORDER BY Deaths DESC\
   LIMIT 5'
highest_covid_regions = pd.read_sql_query(statement,a)
print(highest_covid_regions)

  Country_or_region  Confirmed  Deaths WHO_Region
0                US    4290259  148011   Americas
1            Brazil    2442375   87618   Americas
2    United Kingdom     301708   45844     Europe
3            Mexico     395489   44022   Americas
4             Italy     246286   35112     Europe

In [ ]:
statement = 'SELECT Country_or_region,Confirmed,Deaths,WHO_Region FROM Covid_data ORDER BY Deaths LIMIT 5'
lowest_covid_regions = pd.read_sql_query(statement,a)
print(lowest_covid_regions)

  Country_or_region  Confirmed  Deaths       WHO_Region
0            Bhutan         99       0  South-East Asia
1          Cambodia        226       0  Western Pacific
2          Dominica         18       0         Americas
3           Eritrea        265       0           Africa
4              Fiji         27       0  Western Pacific

In [ ]:
statement = 'SELECT African_countries.Country_name,Covid_data.Deaths,Covid_data.WHO_Region\
 FROM African_countries\
  JOIN Covid_data\
   ON African_countries.Country_name = Covid_data.Country_or_region\
    ORDER BY Covid_data.Deaths DESC'
Covid_deaths_in_selected_african_countries = pd.read_sql_query(statement,a)
print(Covid_deaths_in_selected_african_countries)

  Country_name  Deaths WHO_Region
0      Nigeria     860     Africa
1        Kenya     285     Africa
2      Namibia       8     Africa